.grid{
    width: 400px;
    flex-wrap: wrap;
    height: 400px;
    display: flex;
    background-color: rgb(153, 137, 116);
    border-style:groove;
    border-radius: 15px;
}

.grid div{
    width: 94px;
    height: 94px;
    background-color: rgb(212, 193, 139);
    line-height: 90px; 
    text-align: center;
    font-size:xx-large;
    font-weight: bold;
    border-style:groove;
    border-radius: 15px;
}

.score-container{
    background-color: mediumseagreen;
    height: 60px;
    width: 400px;
    border-style: groove;
    font-size:x-large;
}

#result{
    font-size:x-large;
}

#up:hover, #left:hover, #right:hover, #down:hover{
    background-color: green;
}

#up, #left, #right,#down{
    background-color: grey;
    color: black;
    height: 50px;
    width: 60px;
    
}

#up{
    margin-left: 65px;
}
